
.App > div {
  /*margin-right: 50px;*/
}


.App {
  display: flex;
  background-color: lemonchiffon;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
}

.todoListForm-wrapper {
  width: 500px;
  margin: 30px auto;
}

.todolist {
  /*position: relative;*/
  border: 2px solid rgb(128, 128, 128);
  background-color: beige;
  border-radius: 5px;
  padding: 15px;
  height: max-content;
  width: 280px;
}
.removeTodo {
  position: absolute;
  top: 0;
  right: 0;
}

.todos-wrapper {
  overflow-x: scroll;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  gap: 30px;
  justify-content: start;
}


.active-filter {
  background-color: aquamarine;
}

.task {
  list-style: none;
  margin-left: -40px;
  overflow: scroll;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}
.progress {
  width: 100%;
  top: 30%;
  position: fixed;
}